.hero
   .hero__slider.owl-carousel
     .hero__item
       .hero__pict
         picture
           img(src="img/bg/bg-header@1x.jpg" srcset="img/bg/bg-header@1x.jpg 2x" alt="slide 1 ").hero__pict-img
       .hero__content
         h1.hero__title We Are Awesome Creative Agency
         p.hero__desc This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
           | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
           | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
         button.btn.btn-outline-tajam.hero__btn LEARN MORE
     .hero__item
       .hero__pict
         picture
           img(src="img/bg/bg-header@1x.jpg" srcset="img/bg/bg-header@1x.jpg 2x" alt="slide 1 ").hero__pict-img
       .hero__content
         h1.hero__title We Are Awesome Creative Agency 2
         p.hero__desc This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
           | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
           | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
         button.btn.btn-outline-tajam.hero__btn Read MORE
     .hero__item
       .hero__pict
         picture
           img(src="img/bg/bg-header@1x.jpg" srcset="img/bg/bg-header@1x.jpg 2x" alt="slide 1 ").hero__pict-img
       .hero__content
         h1.hero__title We Are Awesome Creative Agency 3
         p.hero__desc This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
           | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
           | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
         button.btn.btn-outline-tajam.hero__btn Practise MORE
       
