nav.navbar.navbar-expand-md.navbar-light
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') About
      li.nav-item
        a.nav-link(href='#') Expertize  
      li.nav-item
        a.nav-link(href='#') Teams
      li.nav-item
        a.nav-link(href='#') Works
      li.nav-item
        a.nav-link(href='#') People Say
      li.nav-item
        a.nav-link(href='#') Contact


