ul.socials
  li.socials__item
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      svg(width="18", height="18")
        use(xlink:href="img/svg-icon-sprite.svg#icon-facebook")
  li.socials__item
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      svg(width="18", height="18")
        use(xlink:href="img/svg-icon-sprite.svg#icon-twitter")
  li.socials__item
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      svg(width="18", height="18")
        use(xlink:href="img/svg-icon-sprite.svg#icon-dribble")
  li.socials__item
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      svg(width="18", height="18")
        use(xlink:href="img/svg-icon-sprite.svg#icon-inst")      
  li.socials__item
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      svg(width="18", height="18")
        use(xlink:href="img/svg-icon-sprite.svg#icon-google")
  li.socials__item
    a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
      svg(width="18", height="18")
        use(xlink:href="img/svg-icon-sprite.svg#icon-youtube")
      
