/* Шрифты */
/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoRegular/roboto-regular.woff") format("woff"),
	url("../fonts/Roboto/RobotoRegular/roboto-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoMedium/roboto-medium.woff") format("woff"),
	url("../fonts/Roboto/RobotoMedium/roboto-medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoBold/roboto-bold.woff") format("woff"),
	url("../fonts/Roboto/RobotoBold/roboto-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoLight/roboto-light.woff") format("woff"),
  url("../fonts/Roboto/RobotoLight/roboto-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
/* font-family: "RobotoBlack"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoBlack/roboto-black.woff") format("woff"),
  url("../fonts/Roboto/RobotoBlack/roboto-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
/* font-family: "RobotoThin"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoThin/roboto-thin.woff") format("woff"),
  url("../fonts/Roboto/RobotoThin/roboto-thin.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
/* font-family: "PlayFairDisplay"; */
/* font-family: "PlayFairDisplayRegular"; */
@font-face {
  font-family: "PlayFairDisplay";
  src: url("../fonts/PlayFairDisplay/PlayFairDisplayRegular/playfairdisplay-regular.woff") format("woff"),
  url("../fonts/PlayFairDisplay/PlayFairDisplayRegular/playfairdisplay-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* font-family: "PlayFairDisplayBold"; */
@font-face {
  font-family: "PlayFairDisplay";
  src: url("../fonts/PlayFairDisplay/PlayFairDisplayBold/playfairdisplay-bold.woff") format("woff"),
  url("../fonts/PlayFairDisplay/PlayFairDisplayBold/playfairdisplay-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* font-family: "PlayFairDisplayBlack"; */
@font-face {
  font-family: "PlayFairDisplay";
  src: url("../fonts/PlayFairDisplay/PlayFairDisplayBlack/playfairdisplay-black.woff") format("woff"),
  url("../fonts/PlayFairDisplay/PlayFairDisplayBlack/playfairdisplay-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
/* font-family: "HammerSmithoneRegular"; */
@font-face {
  font-family: "HammerSmithone";
  src: url("../fonts/HammerSmithone/HammerSmithoneRegular/hammersmithone-regular.woff") format("woff"),
  url("../fonts/HammerSmithone/HammerSmithoneRegular/hammersmithone-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
