.feedback {
  position: relative;
  padding: 30px 0;
  background-color: #251e43;
  background-image: url("../img/bg/bg-feedback@1x.jpg");
  @extend %cover;
  @media #{$retina} {
    background-image: url("../img/bg/bg-feedback@2x.jpg");
  }
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
  }
}
.feedback__list {
  @extend %ul-reset;
  margin-bottom: 25px;
}
.feedback__item {
  position: relative;
  text-align: center;
  color: #ffffff;
}
.feedback__icon {
  fill: #ffffff;
}
.feedback__text {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: $font-third;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}
.feedback__title {
  color: white;
  font-family: $font-base;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
}
.feedback__suptitle {
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1.2;
  font-family: $font-base;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.feedback__nav {
  position: relative;
  display: flex;
  justify-content: center;
}
.feedback__dots {
  @extend %ul-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 400px;
}
.feedback__dots-item {
  transition: 0.3s;
  &:hover {
    transform: scale(1.3);
  }
}
.feedback__dots-link {
  display: block;
  max-width: 75px;
  max-height: 75px;
  margin: 0 auto;
  padding: 14px 0;
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
  img {
    margin: 0 auto;
  }
}
.slick-current .feedback__dots-link {
  transform: scale(1.5);
}
.slick-current.slick-active .feedback__dots-item:hover {
  transform: none;
}
.feedback__arrows .feedback__arrow {
  display: none;
}
.feedback__arrow {
  position: absolute;
  top: 0;
  z-index: 40;
  display: flex;
  align-items: center;
  width: 40px;
  height: 100%;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  transition: 0.25s;
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.7);
  &--prev {
    transform: rotate(180deg);
    left: 25%;
  }
  &--next {
    right: 25%;
  }
  &:hover {
    fill: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.3);
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
@include mf-tablets {
  .feedback {
    padding: 40px 0;
  }
}
@include mf-laptop {
  .feedback {
    padding: 70px 0;
  }
  .feedback__list {
    margin-bottom: 45px;
  }
  .feedback__text {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0 15px;
  }
  .feedback__dots {
    width: 400px;
  }
  .feedback__arrows .feedback__arrow {
    display: flex;
  }
}

