section.chart-bar
  .container
    .row
      .col.chart__box
        .chart-x
          span.chart-count.x-1 1
          span.chart-count.x-2 2
          span.chart-count.x-3 3
          span.chart-count.x-4 4
          span.chart-count.x-5 5
          span.chart-count.x-6 6
          span.chart-count.x-7 7
          span.chart-count.x-8 8
          span.chart-count.x-9 9
          span.chart-count.x-10 10
          span.chart-count.x-11 11
          span.chart-count.x-12 12
          span.chart-count.x-13 13
          span.chart-count.x-14 14
          span.chart-count.x-15 15
          span.chart-count.x-16 16
          span.chart-count.x-17 17
          span.chart-count.x-18 18
          span.chart-count.x-19 19
          span.chart-count.x-20 20
          span.chart-count.x-21 21
          span.chart-count.x-22 22
          span.chart-count.x-23 23
          span.chart-x-text  Индекс элемента
        .chart-y
          span.chart-number.y-1 1
          span.chart-number.y-2 2
          span.chart-number.y-3 3
          span.chart-number.y-4 4
          span.chart-number.y-5 5
          span.chart-number.y-10 10
          span.chart-number.y-15 15
          span.chart-y-text Значение
        .chart__bar-box
        .chart__about
          span от 0 до 5 - зелёный
          span от 6 до 10 - жёлтый
          span от 10 и выше - красный
