section.expert
  .container
    .row
      h2.col-12.expert__title Expertise
      p.col-12.expert__desc Lorem ipsum dolor sit amet proin gravida nibh vel velit
    .row  
      ul.col-12.expert__list
        .row.no-gutters
          .col-md-4.col-sm-6.card.expert__item
            +icon("card-img-top", "web", "50")
            .card-body
              h4.card-title WEB DESIGN & DEVELOPMENT
              p.card-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
          .col-md-4.col-sm-6.card.expert__item
            +icon("card-img-top", "branding", "50")
            .card-body
              h4.card-title BRANDING IDENTITY
              p.card-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.  
          .col-md-4.col-sm-6.card.expert__item
            +icon("card-img-top", "mobile", "50")
            .card-body
              h4.card-title MOBILE APP
              p.card-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
          .col-md-4.col-sm-6.card.expert__item
            +icon("card-img-top", "engine", "50")
            .card-body
              h4.card-title SEARCH ENGINE OPTIMIZATION
              p.card-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
          .col-md-4.col-sm-6.card.expert__item
            +icon("card-img-top", "game", "50")
            .card-body
              h4.card-title GAME DEVELOPMENT
              p.card-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
          .col-md-4.col-sm-6.card.expert__item
            +icon("card-img-top", "heart", "50")
            .card-body
              h4.card-title MADE WITH LOVE
              p.card-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.      
