section.feedback
  .container
    .row.justify-content-center
      .col-12.col-sm-10.feedback__slider
        ul.feedback__list
          li.feedback__item
            +icon("feedback__icon", "quote", "32")
            p.feedback__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor 
              |aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem 
              |nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit
              |Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in 
              |elit.
            h4.feedback__title JANE GALADRIEL
            p.feedback__suptitle CEO TENGKUREP
          li.feedback__item
            +icon("feedback__icon", "quote", "32")
            p.feedback__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor 
              | aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem 
              | nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit
              | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in 
              | elit.
            h4.feedback__title Sam GALADRIEL
            p.feedback__suptitle CTO TENGKUREP
          li.feedback__item
            +icon("feedback__icon", "quote", "32")
            p.feedback__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor 
              | aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem 
              | nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit
              | Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in 
              | elit.
            h4.feedback__title Kate GALADRIEL
            p.feedback__suptitle Manager TENGKUREP  
      .col-12.feedback__nav
          ul.col-md-4.col-sm-9.col-12.feedback__dots
            li.feedback__dots-item
              a(href="#").feedback__dots-link
                picture
                  img(src="img/content/feedback1@1x.png" srcset="img/content/feedback1@2x.png 2x"
                    width="45" height="45" alt="feedback1")
            li.feedback__dots-item      
              a(href="#").feedback__dots-link
                picture
                  img(src="img/content/feedback1@1x.png" srcset="img/content/feedback1@2x.png 2x"
                  width="45" height="45" alt="feedback1")
            li.feedback__dots-item    
              a(href="#").feedback__dots-link
                picture
                  img(src="img/content/feedback1@1x.png" srcset="img/content/feedback1@2x.png 2x"
                    width="45" height="45" alt="feedback1")
            li.feedback__dots-item
              a(href="#").feedback__dots-link
                picture
                  img(src="img/content/feedback1@1x.png" srcset="img/content/feedback1@2x.png 2x"
                  width="45" height="45" alt="feedback1")      
          .feedback__arrows
            a(href="#").feedback__arrow.feedback__arrow--prev
              span(aria-hidden="true").feedback__arrow-icon
                svg(viewBox="0 0 20 20" width="38" height="90")
                  use(xlink:href="img/svg-icon-sprite.svg#icon-arrow-basic")
            a(href="#").feedback__arrow.feedback__arrow--next
              span(aria-hidden="true").feedback__arrow-icon
                svg(viewBox="0 0 20 20" width="38" height="86")
                  use(xlink:href="img/svg-icon-sprite.svg#icon-arrow-basic")      
