section.story
  .story__top
    .container
      .row
        .d-none.d-sm-flex.col-sm-5
          .row
            .col.offset-md-2
              .story__pict.mr-auto
                picture
                  img(src="img/bg/bg-story@1x.png" srcset="img/bg/bg-story@2x.png 2x" alt="Story image").story__pict-img
        .col-sm-7
          .story__box
            h2.story__title OUR STORY
            p.story__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
              |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id 
              |elit. Duis sed odio sit amet nibh vulputate cursus
            p.story__text Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  
              |mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia
              |nostra, per inceptos himenaeos.
            button.btn.btn-outline-tajam.story__btn Learn MORE
  .story__bottom
    .col.col-lg-3.story__watch
      a(href="#").story__watch-icon
        picture
          img(src="img/decor/icon-play@1x.png" srcset="img/decor/icon-play@2x.png 2x" alt="Play")
      .story__watch-desc WATCH OUR STORY
      
      
