section.team
  .container
    .row
      h2.col-12.team__title MEET OUR AMAZING TEAM
      p.col-12.team__desc Lorem ipsum dolor sit amet proin gravida nibh vel velit
    .row
      ul.col-12.team__list
        .row.justify-content-center.justify-content-sm-start
          li.col-8.col-md-3.col-sm-6.card.team__item
            .card-pict.team__pict
              picture
                img(src="img/content/team1@1x.jpg" srcset="img/content/team1@2x.jpg 2x" 
                  alt="Team 1").team__pict-img
            .card-body.team__body
              h4.card-title.team__card-title SEMF UCUK
              p.card-text.team__text CEO & FOUNDER         
          li.col-8.col-md-3.col-sm-6.card.team__item
            .card-pict.team__pict
              picture
                img(src="img/content/team1@1x.jpg" srcset="img/content/team1@2x.jpg 2x"
                alt="Team 2").team__pict-img
            .card-body.team__body
              h4.card-title.team__card-title DIK ADALIN
              p.card-text.team__text ENGINEERING 
          li.col-8.col-md-3.col-sm-6.card.team__item
            .card-pict.team__pict
              picture
                img(src="img/content/team1@1x.jpg" srcset="img/content/team1@2x.jpg 2x"
                alt="Team 2").team__pict-img
            .card-body.team__body
              h4.card-title.team__card-title JENG KOL
              p.card-text.team__text DESIGNER
          li.col-8.col-md-3.col-sm-6.card.team__item
            .card-pict.team__pict
              picture
                img(src="img/content/team1@1x.jpg" srcset="img/content/team1@2x.jpg 2x"
                alt="Team 2").team__pict-img
            .card-body.team__body
              h4.card-title.team__card-title PET ROMAK
              p.card-text.team__text MARKETING    
    .row
      p.col-12.team__become Become part of our dream team, let’s join us ! 
      .col-12
        button.btn.btn-outline-tajam.team__btn We are hiring
