section.works
  .container
    .row.align-items-center.justify-content-between.mb-3.mb-md-5
      h2.col-12.col-sm-6.col-md-4.works__title OUR WORKS
      a.col-12.col-sm-6.col-md-5.works__link See All Project in dribbble WORKS
        +icon("works__link-icon", "arrow-basic", "14")
  .row   
    .col.works__list
      .row.no-gutters
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work1")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work2")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work3")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work4")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work5")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work6")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work7")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work8")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work9")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work10")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work11")
        li.col-md-2.col-sm-3.col-6.works__item
          picture
            img(src="img/content/work1@1x.jpg" srcset="img/content/work1@2x.jpg 2x" alt="work12")    
  .row.justify-content-center
    button.btn.btn-outline-tajam.works__btn Load more
